body {
    background: #000;
    color: #fff;
    font-family: 'Inter', sans-serif;
}

.container {
    max-width: 900px;
    margin: auto;
    padding: 40px;
}

button {
    margin: 5px;
    padding: 10px;
    background: #00c6ff;
    border: none;
}

input {
    padding: 10px;
    margin: 10px;
}
